/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.red-on-hover:hover {
    background-color: #b61431;
    color: white;
}

.primary-on-hover:hover {
    background-color: #078766;
    color: white;
}

.secondary-on-hover:hover {
    background-color: #0ad39f;
    color: black;
}

.ext-bordered {
    border: 2px solid white;
    border-radius: 5px;
}
.ext-bordered.selected {
    border-color: #09c293;
}

.text-ww {
    overflow: hidden;
    white-space: wrap;
}

.text-dots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}