/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.red-on-hover:hover {
    background-color: #b61431;
    color: white;
}

.primary-on-hover:hover {
    background-color: #078766;
    color: white;
}

.secondary-on-hover:hover {
    background-color: #0ad39f;
    color: black;
}

.v-theme--customLight .grey-on-hover:hover {
  background-color: #aaa;
}
.v-theme--customDark .grey-on-hover:hover {
  background-color: #666;
}

.v-theme--customLight .ext-bordered {
    border: 2px solid white;
    border-radius: 5px;
}
.v-theme--customDark .ext-bordered {
  border: 2px solid black;
  border-radius: 5px;
}

.ext-bordered.selected {
    border-color: #09c293;
}

.text-ww {
    overflow: hidden;
    white-space: wrap;
}

.text-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

@mixin scrollbars(
  $size: 8px,
  $border-radius: 50%,
  $foreground-color: #ccc,
  $background-color: #fff
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size !important;
    height: $size !important;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: $size;
}

body {
    @include scrollbars;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}