/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings';

$v-theme-primary: #078766;
$v-theme-secondary: #0ad39f;
$v-theme-error: #b61431;
$v-theme-info: #1976D2;

.Vue-Toastification__toast--success.ctoast {
  color: inherit;
  border-color: $v-theme-primary;
  background-color: $v-theme-primary;
}
.Vue-Toastification__toast--error.ctoast {
  color: inherit;
  border-color: $v-theme-error;
  background-color: $v-theme-error;
}
.Vue-Toastification__toast--info.ctoast {
  color: inherit;
  border-color: $v-theme-info;
  background-color: $v-theme-info;
}

.red-on-hover:hover {
    background-color: $v-theme-error;
    color: white;
}

.primary-on-hover:hover {
    background-color: $v-theme-primary;
    color: white;
}

.secondary-on-hover:hover {
    background-color: $v-theme-secondary;
    color: black;
}

.v-theme--customLight .grey-on-hover:hover {
  background-color: #aaa;
}
.v-theme--customDark .grey-on-hover:hover {
  background-color: #666;
}

.v-theme--customLight .ext-bordered {
    border: 2px solid white;
    border-radius: 5px;
}
.v-theme--customDark .ext-bordered {
  border: 2px solid black;
  border-radius: 5px;
}

.ext-bordered.selected {
    border-color: $v-theme-secondary;
}

.text-ww {
    overflow: hidden;
    white-space: wrap;
}

.text-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.v-theme--customLight .tthover {
  background-color: #EEEEEE;
  color: black;
}
.v-theme--customDark .tthover {
  background-color: #333333;
  color: white;
}

@mixin scrollbars(
  $size: 8px,
  $border-radius: 50%,
  $foreground-color: #ccc,
  $background-color: #fff
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size !important;
    height: $size !important;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: $size;
}

body {
    @include scrollbars;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hover-it:hover { font-style: italic; }
.hover-bold:hover { font-weight: bold; }
.hover-sat:hover { filter: saturate(2); }
.hover-border:hover { border: 1px solid grey; }

.v-theme--customLight .bordered-grey {
  border: 2px solid rgb(180, 180, 180)
}
.v-theme--customDark .bordered-grey {
  border: 2px solid rgb(74, 74, 74)
}

.invalid {
  border: 2px solid red;
}

.game-loader {
  --s: 50px;
  --_d: calc(0.353*var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.game-loader:before,
.game-loader:after {
  content:"";
  clip-path:polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
  background:
    conic-gradient(from -90deg at var(--s) var(--_d),
     #fff 135deg,#666 0 270deg,#aaa 0);
  animation: l4 1.2s infinite;
}
.game-loader:before {
  z-index: 1;
  margin-bottom: calc(var(--_d)/-2 - 1px);
}
.game-loader:after {
  margin-top: calc(var(--_d)/-2 - 1px);
  animation-delay: 0.6s
}
@keyframes l4{
  0%     {transform: translate(0)}
  16.67% {transform: translate(-10px)}
  33.33% {transform: translate(10px)}
  50%,
  100%   {transform: translate(0)}
}